/* @import url("theme.css"); */
@import url("css/theme.css");

/* CUSTOM CSS HERE */

/* SIDEBAR SEARCH AND NAME BLOCK */
.wy-side-nav-search {
  display: block;
  width: 300px;
  padding: 0.809em;
  margin-bottom: 0.809em;
  z-index: 200;
  background-color: #0b7096;
  text-align: center;
  padding: 0.809em;
  display: block;
  color: #fcfcfc;
  margin-bottom: 0.809em;
}

/* SIDEBAR MENU ITEMS  */
.wy-menu-vertical p.caption {
  height: 32px;
  display: inline-block;
  line-height: 32px;
  padding: 0 1.618em;
  margin-bottom: 0;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80%;
  color: #555;
  white-space: nowrap;
}

/* WIDTH OF THE NAV PAGE */
/* .wy-nav-side {
    width: 315px !important;
}
.wy-side-scroll {
    width: 315px !important;
} */

/* WIDTH OF THE CONTENT PAGE */
.wy-nav-content {
  padding: 1.618em 3.236em;
  height: 100%;
  max-width: 1000px;
}

/* BACKGROUND COLOR OF THE SIDEBAR */
.wy-nav-side {
  background-color: #253239;
}

/* SHOW / HIDE CODE SNIPPETS */
.toggle .header {
    display: block;
    clear: both;
    margin-bottom: 24px;
}
.toggle .header:before {
    content: " ▼";
}
.toggle .header.open:before {
    content: " ▲";
}
.toggle .header > div {
    float: left;
}
.toggle .header > div {
    clear: both;
}

/* Remove the initial margin when using multiple lines in a column cell */
.rst-content .line-block { 
    margin-left: 0;
    margin-bottom: 24px;
    line-height: 24px;
}

.caption {
	text-align: center;
}

ul.simple {
    margin-top: -15px;
}

ul.first.last.simple {
    margin-top: 0px !important;
}